/* константы */

img {
    width: 391px;
    height: 74px;
}

.txt_bigfont {
    text-transform: uppercase;
    font-size: 32px;
}

.txt_midfont {
    text-transform: uppercase;
    font-size: 24px;
}

.imp {
    font-size: 20px;
}

.txt_regularfont {
    font-size: 18px;
    font-family: 'Montserrat', Arial, sans-serif;
}

.txt_smallfont {
    font-size: 14px;
}

.template {
    margin-right: 10px;
    color: #757572;
}

.fas,
.far {
    margin: 0 20px;
    color: #fff;
}

.btn {
    border: none;
    background-color: #3d5e61;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    padding-right: 25px;
    text-decoration: none;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn:hover {
    opacity: .7;
    transition: .3s;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}


/* основной код */

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #FAFAFA;
    overflow: hidden;
}

.header-wrap {
    background-color: #20403F;
    height: 70px;
}

.up {
    display: flex;
    color: #fff;
}

.exit {
    height: 45px;
    margin-right: 40px;
}
.logout{
    display: flex;
}
.user{
    background-color: #20807F;
    cursor: default;
}
.user:hover{
    opacity: 1;
}

h1,
h2,
h3 {
    color: #fff;
    line-height: 23px;
}

.work-zone {
    display: flex;
    height: 90%;
    justify-content: center;
}

.about {
    height: 8%;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 4px solid #ECECEC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    display: flex;
    align-items: baseline;
}

.reception {
    margin-right: 10px;
    width: 20%;
    background-color: #214040;
    color: #fff;
}

.reception-wrap {
    width: 100%;
}

.cap {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #3d5e61;
    align-items: center;
}

.tab {
    cursor: pointer;
    margin-top: 20px;
    width: 80%;
    height: 70px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.5;
    background-color: #2f4f50;
}

.tab:hover {
    transition-property: opacity;
    transition-duration: .4s;
    transition-delay: 0s;
    opacity: 1;
    margin-bottom: -4px;
    border-bottom: 4px solid #20807F;
}

.tab_focus {
    opacity: 1;
    background-color: #20807F;
}

.tab_focus:hover {
    border: none;
    margin-bottom: 0;
}

.fa-file-alt {
    font-size: 40px;
}

.diagnosis {
    width: 80%;
    background-color: #fff;
    color: #000;
    border-left: 4px solid #20807F;
    display: flex;
    flex-direction: column;
}

.diagnosis>.cap {
    background-color: #20807F;
    justify-content: start;
    border-bottom: none;
}

.fa-stethoscope,.fa-rectangle-xmark,.fa-rotate-right {
    font-size: 35px;
}

.doc-area {
    margin: 20px auto;
    display: flex;
}

.add-doc {
    width: 200px;
    height: 65px;
    background-color: #20807F;
    margin: 0 5px;
}
.reload-btn{
    padding: 0;
    width: 71px;
}


.fa-plus-square {
    font-size: 40px;
}

.reception-back {
    height: 60px;
    width: 80%;
    margin-bottom: 20px;
}

.doc-form-area {
    height: 100%;
    padding: 0 15px;
    overflow: scroll;
}

.doc {
    height: 80px;
    background-color: #fff;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 9px rgba(32, 128, 127, 0.1));
}

.docs {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-left: 4px solid #fff;
}

.docs thead {
    position: sticky;
    top: 0px;
    background: white;
    filter: drop-shadow(0px -1px 10px rgba(32, 128, 127, 0.3));
}

.docs thead>tr>td {
    font-size: 18px;
    color: #20807F;
    line-height: 14px;
    border-top: 4px solid #20807F;
}

.docs tbody>tr>td {
    font-size: 16px;
    color: #000;
    line-height: 33px;
}

.docs td {
    white-space: pre-wrap;
    padding: 10px 5px;
    vertical-align: middle;
    border-left: 3px solid #90C0BF;
    border-bottom: 3px solid #E9F3F3;
}

.docs tbody>tr:hover td {
    background-color: #f9fafb;
    cursor: pointer;
    filter: drop-shadow(0px 10px 6px rgba(32, 128, 127, 0.20));
}


/* popup */

.hide {
    display: none;
}

.doc-popup {
    box-shadow: 0px 0px 10px rgba(32, 128, 127, 0.5);
    border-radius: 4px;
}

.popup-title {
    color: #20807F;
}

.doc-popup .cap {
    background-color: #f9fafb;
    filter: drop-shadow(0px 10px 15px rgba(32, 128, 127, 0.20));
    border-bottom: none;
    border-top: 4px solid #20807F;
    border-radius: 4px;
    height: 55px;
}


/* doc form */

.form {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    font-size: 18px;
    font-weight: 600;
    color: #204040;
}

form button {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background-color: #20807F;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    transition: .3s;
}

form button:hover {
    opacity: .7;
}

form {
    padding: 15px 15px;
    background-color: #214040;
}

.field {
    margin: 15px 0;
}

.txt-area {
    height: 250px;
}

.down {
    justify-content: space-evenly;
}

.down-form {
    width: 400px;
}
/* cke editor*/
.ck-dropdown__button{
    transform: translateX(7px);
}
.ck-off{
    transform: translateX(-4px);
}
.ck-dropdown__panel_se{
    transform: translateX(120px);
}
.ck-blurred > h1,h2,h3{
    color: #204040;
}
.ck-editor__editable_inline, .ck-blurred{
    height: 250px;
}