/* константы */
.txt_verysmallfont {
    font-size: 18px;
    color: #C8E0DF;
}

.link {
    color: #90C0BF;
}

.txt_smallfont {
    font-size: 23px;
}

.btn {
    border: none;
    background-color: #227E80;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    text-decoration: none;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn:hover {
    opacity: .7;
}


/* основной код */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #FAFAFA;
}

.up,
footer {
    display: flex;
    background-color: #20403F;
    height: 70px;
    color: #fff;
}

h1,
h2,
h3 {
    color: #fff;
    line-height: 23px;
}

.down {
    background-color: #227E80;
    height: 60px;
    display: flex;
}

.toolbar {
    height: 121px;
    background-color: #ffa;
}

.container {
    padding: 15px;
    height: 100%;
    /* width: 100%; */
    /* align-self: center; */
}

.cap {
    height: 40px;
    background-color: #227E80;
}

.cap h3 {
    margin: 0 15px;
    padding: 0;
    line-height: 40px;
}

.card {
    border-bottom: 4px solid #ECECEC;
    height: 121px;
    background-color: #fff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.start {
    width: 260px;
    margin-right: 40px;
    height: 40px;
}

.start-btn:hover {
    /* opacity: .7; */
    background-color: #227E80;
    color: #fff;
    border: 3px solid #227E80;
}

.fas {
    margin: 0 20px;
    color: #fff;
}

.fa-clock {
    font-size: 25px;
    padding: 18px 0 0 20px;
}

footer {
    justify-content: space-evenly;
    align-items: center;
}